body{
    font-family: 'Lexend';
}

#outlined-basic{
    font-family: 'Lexend' !important;
}

.lexend-738345b2{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.header p{
    border-bottom: 1px solid blue;
    padding-bottom: 8px;
}

.filters-tab{
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 20px;
}

#demo-simple-select{
    min-width: 120PX;
}

.jobs-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.job-card{
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
}

.company-logo{
    width: 50px;
    height: 50px;
}

.card-header{
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-body{
    position: relative;
}

#apply-btn{
    width: 384px;
    background-color: rgb(85, 239, 196);
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 8px;
}

.sidebar-box {
    max-height: 350px;
    position: relative;
    overflow: hidden;
}
.sidebar-box .show-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; 
    padding: 80px 0; 
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent, white);
}

#view-btn{
    color: #4943da;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


/* On screens that are 1024px or less*/
@media screen and (max-width: 1024px) {
    .filters-tab{
        flex-wrap: wrap;
    }
    .jobs-container{
        gap: 10px;
    }
}

/* On screens that are 425px or less*/
@media screen and (max-width: 425px){
    .job-card{
        width: 300px;
    }
}